
#altx 	{
	text-align:center;
	color:#FFFFFF;
	font-family:Verdana;
	font-size:30px;
	font-weight: bold;	
	}

#logo1 	{
	text-align:center;
	color: silver;
	margin-top:0;
	font-family:Verdana;
	font-size:70pt;
	font-weight: bold;
	}

#logo2 	{
	text-align:center;
	color: red;
	margin-top:-118px;
	margin-left:-10px;

	font-family:Verdana;
	font-size:70pt;
	font-weight: bold;
	}

a:link,a:visited
	{ 
	color:#FFFFFF;
	font-family:Arial;
	font-size:13px;
 	font-weight:bold;
	text-decoration:none
	}

a:active,a:hover
	{
	color:#FF0000;
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	text-decoration:none
	}

body	{
	margin:0px;
	link:#FF0000;
	}

.menu   {

	text-align:center;
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	}

.tc	{
	background-color:#6A8080;
	margin-left:0;
	margin-right:0;
	text-align:left;
	width:200px;
	height:380px;
	}

#lr_image
	{
	POSITION:absolute;
	TOP:0;
	LEFT:0;
	Z-INDEX:80000;
	WIDTH:100%;
	HEIGHT:100%;
	}

#lr_text
	{
	POSITION:absolute;
	TOP:0;
	LEFT:0;
	Z-INDEX:84000;
	WIDTH:100%;
	HEIGHT:100%;
	}

.headx	{
	color:#FFFFFF;
	font-family:Arial;
	font-size:30px;
 	font-weight:bold;
	text-decoration:none;
	}

.parx	{
	color:#FFFFFF;
	font-family:Arial;
	font-size:20px;
 	font-weight:bold;
	text-decoration:none;
	text-align:center;
	}

.parx2	{
	color:#FFFFFF;
	font-family:Arial;
	font-size:24px;
 	font-weight:bold;
	text-decoration:none;
	text-align:center;
	}


#logo_hs1
	{
	color: silver;
	margin-top:0;
	font-family:Verdana;
	font-size:20pt;
	font-weight: bold;
	}

#logo_hs2
	{
	color: red;
	margin-top:-35px;
	margin-left:-3;

	font-family:Verdana;
	font-size:20pt;
	font-weight: bold;
	}

#alt_hs
	{
	color:#FFFFFF;
	font-family:Verdana;
	font-size:15px;
	font-weight: bold;	
	}

