body {
 font-family: Lucida Console;
 color: #000000;
 font-size: 14px;
 scrollbar-face-color: #FFFFFF;
 scrollbar-shadow-color: #000000;
 scrollbar-highlight-color: #000000;
 scrollbar-3dlight-color: #000000;
 scrollbar-darkshadow-color: #000000;
 scrollbar-track-color: #5b5b5b;
 scrollbar-arrow-color: #5b5b5b;
}

a {
 font-family: Lucida Console;
 color: #000000;
 text-decoration: none;
 font-size: 14px;
}

a:hover {
 font-family: Lucida Console;
 color: #000000;
 text-decoration: underline;
 font-size: 14px;
}

pre {
 font-family: Lucida Console;
 color: #000000;
 font-size: 14px;
}

a.gaycapo {
 color: #848484;
}

a.gaycapo:hover {
 color: #848484;
}