P, LI, B
{
    COLOR: #434343;
    FONT-FAMILY: 'MS Sans Serif', Arial;
    FONT-SIZE: 10pt;
    MARGIN-BOTTOM: 3px;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: justify;
}
UL, OL
{
    COLOR: #434343;
    FONT-FAMILY: 'MS Sans Serif', Arial;
    FONT-SIZE: 10pt;
}
TT
{
    COLOR: #434343;
    FONT-SIZE: 10pt;
    MARGIN-BOTTOM: 3px;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: justify;
}
BODY
{
	BACKGROUND-COLOR: #EEE8AA;
	COLOR: #434343;
	FONT-FAMILY: 'MS Sans Serif', Arial;
	FONT-SIZE: 10pt;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	scrollbar-3dlight-color : Green;
	scrollbar-arrow-color : Green;
	scrollbar-base-color : Green;
	scrollbar-darkshadow-color : Gray;
	scrollbar-face-color : #14AB3E;
	scrollbar-highlight-color : SpringGreen;
	scrollbar-shadow-color : #FFFACD;
	scrollbar-track-color : #FFFACD;
	border: 0 none;
}
IMG
{
    BORDER-WIDTH: 0px;
}
P.W
{
    COLOR: #f0f0f0;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
.indexlink
{
    text-decoration: none;	
}
.indexlink:hover
{
    text-decoration: none;	
    color: #008200;
}
.RR
{
    TEXT-ALIGN: right;
}
P.C
{
    TEXT-ALIGN: center
}
P.WS
{
    COLOR: #f0f0f0;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
}
P.Caption
{
    COLOR: #f0f0f0;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
P.SM
{
    COLOR: #434343;
    FONT-FAMILY: 'MS Sans Serif', Arial;
    FONT-SIZE: 8pt;
}
A.OFF
{
    FONT-FAMILY: 'Arial Black', Arial;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A
{
    COLOR: #434343;
    FONT-FAMILY: 'MS Sans Serif', Arial;
    FONT-SIZE: 10pt
}
P.BIG
{
    FONT-FAMILY: 'Arial Black', Arial;
    FONT-SIZE: 22pt;
    FONT-WEIGHT: bold;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
A.AV
{
    COLOR: #f0f0f0
}
PRE
{
    FONT-FAMILY: 'Courier New Cyr', 'Courier New';
    FONT-SIZE: 9pt;
    MARGIN-TOP: 5px;
    PADDING-TOP: 0px;
}
DD
{
    FONT-SIZE: 10pt
}
DL
{
    MARGIN-TOP: -5px;
    MARGIN-LEFT: -25px;
}
SUP
{
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
}
A.menu
{
    COLOR: #101010;
    text-decoration: none;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
}
A.menu:hover
{
    COLOR: #101010;
    text-decoration: underline;
}
A.menu1
{
    COLOR: #f5f5f5;
    text-decoration: none;
}
H1
{
    FONT-SIZE: 13pt;
}
H2
{
    FONT-SIZE: 12pt;
}
H2
{
    FONT-SIZE: 11pt;
}
HR
{
	COLOR: #10AA39;
}
font
{
	COLOR: #008200;
}